---
// Import section components
import MainLayout from "@/layouts/MainLayout.astro";
import ProductTabBtn from "@components/ui/buttons/ProductTabBtn.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { SITE } from "@data/constants";

// Global declaration for gsap animation library
declare global {
  interface Window {
    gsap: any;
  }
}
// This gets the static paths for all the unique products
export async function getStaticPaths() {
  const productEntries = await getCollection("products");
  return productEntries.map((product) => ({
    params: { slug: product.slug },
    props: { product },
  }));
}

const { product } = Astro.props;

const pageTitle: string = `${product.data.title} | ${SITE.title}`;
---

<MainLayout title={pageTitle}>
  <div id="overlay" class="fixed inset-0 bg-neutral-200 dark:bg-neutral-800">
  </div>

  <section
    class="mx-auto flex max-w-[85rem] flex-col px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div
      class="flex flex-col items-center justify-between space-y-4 sm:flex-row sm:space-y-0"
    >
      <div id="fadeInUp">
        <h1
          class="block text-4xl font-bold tracking-tighter text-neutral-800 dark:text-neutral-200 sm:text-5xl md:text-6xl lg:text-7xl"
        >
          {product.data.title}
        </h1>
        <p class="text-lg text-neutral-600 dark:text-neutral-400">
          {product.data.description}
        </p>
      </div>
      <div>
        <Image
          id="fadeInMoveRight"
          src={product.data.main.imgMain}
          class="w-[600px]"
          alt={product.data.main.imgAlt}
          loading={"eager"}
          width="200"
          height="150"
        />
      </div>
    </div>
  </section>

  <div class="mx-auto max-w-[85rem] px-4 pt-10 sm:px-6 lg:px-8 lg:pt-14">
    <nav
      class="mx-auto grid max-w-6xl gap-y-px sm:flex sm:gap-x-4 sm:gap-y-0"
      aria-label="Tabs"
      role="tablist"
    >
      {
        product.data.tabs.map((tab, index) => (
          <ProductTabBtn
            title={tab.title}
            id={tab.id}
            dataTab={tab.dataTab}
            first={index === 0}
          />
        ))
      }
    </nav>

    <div class="mt-12 md:mt-16">
      <div id="tabs-with-card-1" role="tabpanel">
        <div class="mx-auto max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8 lg:pb-14">
          <div>
            <div class="lg:w-3/4">
              <h2
                class="text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:leading-tight lg:text-4xl"
              >
                {product.data.longDescription.title}
              </h2>
              <p
                class="mt-3 text-pretty text-neutral-600 dark:text-neutral-400"
              >
                {product.data.longDescription.subTitle}
              </p>
              <p class="mt-5">
                <a
                  href={`https://api.whatsapp.com/send?phone=${product.data.artist.whatsapp}&text=Halo%2C%20Saya%20berminat%20untuk%20Karyanya%20yang%20dipajang%20di%20Website%20Seni%20Rupa%20(%20https%3A%2F%2Fsenirupa.ekrafpurwakarta.com%2Fproducts%2F${product.data.slugUrlProduct}%20).%20Caranya%20gimana%20ya%3F`}
                  target="_blank"
                  class="bg-purple-500 hover:bg-purple-700 inline-flex items-center rounded border border-white px-4 py-2 font-semibold text-white transition duration-300"
                  style="border-width: 2px;"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    class="mr-2 h-6 w-6"
                  >
                    <path
                      fill="currentColor"
                      d="M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M1 2v2h2l3.6 7.59l-1.36 2.45c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42a.25.25 0 0 1-.25-.25q0-.075.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.47c.07-.16.12-.33.12-.5a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2"
                    ></path>
                  </svg>
                  Saya berminat membeli ini
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="tabs-with-card-2" class="hidden" role="tabpanel">
        <div class="mx-auto max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8 lg:pb-14">
          <div class="grid w-full grid-cols-1 gap-x-16 md:grid-cols-2">
            <div class="max-w-md space-y-6">
              {
                product.data.specificationsLeft.map((spec) => (
                  <div>
                    <h3 class="block font-bold text-neutral-800 dark:text-neutral-200">
                      {spec.title}
                    </h3>
                    <p class="text-neutral-600 dark:text-neutral-400">
                      {spec.subTitle}
                    </p>
                  </div>
                ))
              }
            </div>
            {
              product.data.specificationsRight ? (
                <div class="mt-6 max-w-md space-y-6 md:ml-auto md:mt-0">
                  {product.data.specificationsRight?.map((spec) => (
                    <div>
                      <h3 class="block font-bold text-neutral-800 dark:text-neutral-200">
                        {spec.title}
                      </h3>
                      <p class="text-neutral-600 dark:text-neutral-400">
                        {spec.subTitle}
                      </p>
                    </div>
                  ))}
                </div>
              ) : null
            }
          </div>
        </div>
      </div>

      <div id="tabs-with-card-3" class="hidden" role="tabpanel">
        <div class="flex justify-center">
          <div
            class="mx-auto max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8 lg:pb-14"
          >
            <div>
              <div class="text-center">
                <img
                  class="mx-auto rounded-full"
                  src=`${product.data.artist.avatar}`
                  alt="test"
                  width="160"
                  height="160"
                />
              </div>
              <h2
                class="mt-5 text-balance text-center text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:leading-tight lg:text-4xl"
              >
                {product.data.artist.name}
              </h2>
              <p class="mt-5 text-center">
                <a
                  href={`https://api.whatsapp.com/send?phone=${product.data.artist.whatsapp}`}
                  target="_blank"
                  class="bg-purple-500 hover:bg-purple-700 inline-flex items-center rounded border border-white px-4 py-2 font-semibold text-white transition duration-300"
                  style="border-width: 2px;"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    class="mr-2 h-6 w-6"
                  >
                    <path
                      d="M12 0C5.37 0 0 5.373 0 12c0 2.11.525 4.105 1.53 5.898L0 24l6.222-1.512A11.962 11.962 0 0 0 12 24c6.63 0 12-5.373 12-12S18.63 0 12 0zm0 22c-1.726 0-3.392-.433-4.877-1.255l-.356-.201-3.687.897.897-3.687-.201-.356C2.433 15.392 2 13.726 2 12c0-5.523 4.478-10 10-10s10 4.477 10 10-4.478 10-10 10zm5.447-7.415c-.075-.125-.274-.198-.57-.347-.296-.149-1.758-.867-2.031-.967-.274-.1-.474-.149-.673.149-.2.298-.773.967-.947 1.166-.174.198-.348.224-.644.075-.297-.149-1.256-.463-2.39-1.48-.883-.79-1.48-1.764-1.653-2.061-.174-.298-.019-.459.13-.608.134-.135.298-.348.446-.522.149-.174.199-.298.298-.497.099-.198.05-.373-.025-.522-.075-.149-.673-1.616-.923-2.217-.248-.6-.498-.52-.673-.53l-.572-.01c-.198 0-.522.075-.795.373-.274.298-1.04 1.015-1.04 2.479s1.065 2.877 1.214 3.074c.149.198 2.099 3.199 5.086 4.485.712.307 1.265.49 1.698.628.712.226 1.36.194 1.87.118.57-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.174-1.413z"
                    ></path>
                  </svg>
                  WhatsApp
                </a>
              </p>
              <p class="mt-5 text-center">
                <a
                  href={`https://instagram.com/${product.data.artist.instagram}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="bg-purple-500 hover:bg-purple-700 inline-flex items-center rounded border border-white px-4 py-2 font-semibold text-white transition duration-300"
                  style="border-width: 2px;"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="mr-2 h-6 w-6"
                  >
                    <g
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      color="currentColor"
                    >
                      <path
                        d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12"
                      ></path>
                      <path
                        d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0zm1.008-5.5h-.01"
                      ></path>
                    </g>
                  </svg>
                  Instagram
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
<script is:inline src="/scripts/vendor/gsap/gsap.min.js"></script>
<script>
  window.addEventListener("load", () => {
    if (window.gsap) {
      const gsap = window.gsap;
      gsap.set("#fadeText", {
        autoAlpha: 0,
        y: 50,
        willChange: "transform, opacity",
      });
      gsap.set("#fadeInUp", {
        autoAlpha: 0,
        y: 50,
        willChange: "transform, opacity",
      });
      gsap.set("#fadeInMoveRight", {
        autoAlpha: 0,
        x: 300,
        willChange: "transform, opacity",
      });

      let timeline = gsap.timeline({ defaults: { overwrite: "auto" } });

      timeline.to("#fadeText", {
        duration: 1.5,
        autoAlpha: 1,
        y: 0,
        delay: 1,
        ease: "power2.out",
      });

      timeline.to(
        "#fadeInUp",
        { duration: 1.5, autoAlpha: 1, y: 0, ease: "power2.out" },
        "-=1.2"
      );

      timeline.to(
        "#fadeInMoveRight",
        { duration: 1.5, autoAlpha: 1, x: 0, ease: "power2.inOut" },
        "-=1.4"
      );

      timeline.to("#overlay", { duration: 1, autoAlpha: 0, delay: 0.2 });
    }
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function setButtonInactive(btn: any, activeButton: any) {
      if (btn !== activeButton) {
        btn.classList.remove(
          "active",
          "bg-neutral-100",
          "hover:border-transparent",
          "dark:bg-white/[.05]"
        );

        const tabId = btn.getAttribute("data-target");
        if (tabId) {
          const contentElement = document.querySelector(tabId);
          if (contentElement) {
            contentElement.classList.add("hidden");
          }
        }

        changeHeadingStyle(
          btn,
          ["text-neutral-800", "dark:text-neutral-200"],
          ["text-orange-400", "dark:text-orange-300"]
        );
      }
    }

    function activateButton(button: any) {
      button.classList.add(
        "active",
        "bg-neutral-100",
        ",hover:border-transparent",
        "dark:bg-white/[.05]"
      );

      const tabId = button.getAttribute("data-target");
      if (tabId) {
        const contentElementToShow = document.querySelector(tabId);
        if (contentElementToShow) {
          contentElementToShow.classList.remove("hidden");
        }
      }

      changeHeadingStyle(
        button,
        ["text-orange-400", "dark:text-orange-300"],
        ["text-neutral-800", "dark:text-neutral-200"]
      );
    }

    function changeHeadingStyle(
      button: any,
      addClasses: any,
      removeClasses: any
    ) {
      let heading = button.querySelector("span");
      if (heading) {
        heading.classList.remove(...removeClasses);
        heading.classList.add(...addClasses);
      }
    }

    const tabButtons = document.querySelectorAll("[data-target]");

    if (tabButtons.length > 0) {
      changeHeadingStyle(
        tabButtons[0],
        ["text-orange-400", "dark:text-orange-300"],
        []
      );
    }

    tabButtons.forEach((button) => {
      button.addEventListener("click", () => {
        tabButtons.forEach((btn) => setButtonInactive(btn, button));
        activateButton(button);
      });
    });
  });
</script>
