---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products")
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id,
);

// Define variables for page content
const title: string = "Galeri Online";
const subTitle: string =
  `Selamat datang di halaman Galeri Karya Seni Rupa Purwakarta! Di sini, Anda dapat menikmati berbagai karya seni menakjubkan dari para seniman berbakat di Purwakarta. Telusuri karya-karya inspiratif dari seniman lokal yang terus berinovasi dan berkreasi tanpa batas. Setiap karya membawa cerita dan pesan yang mendalam dan memperkaya apresiasi Anda terhadap seni rupa.`;

const pageTitle: string = `Galeri | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://senirupa.ekrafpurwakarta.com/products",
    "url": "https://senirupa.ekrafpurwakarta.com/products",
    "name": "Galleries | Subsektor Seni Rupa",
    "description": "Bergabunglah dengan Sub Sektor Seni Rupa, komunitas kreatif di Purwakarta yang menyediakan wadah untuk seniman, kurator, kolektor, dan pecinta seni rupa. Kami mengadakan workshop, diskusi, dan pameran untuk mengembangkan kemampuan dan memperluas jaringan. Temukan informasi terbaru tentang acara, ikuti kegiatan seru, dan pamerkan karya seni Anda bersama kami!",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://senirupa.ekrafpurwakarta.com/",
      "name": "Subsektor Seni Rupa",
      "description": "Bergabunglah dengan Sub Sektor Seni Rupa, komunitas kreatif di Purwakarta yang menyediakan wadah untuk seniman, kurator, kolektor, dan pecinta seni rupa."
    },
    "inLanguage": "en-US"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <PrimaryCTA title="Daftarkan Karyamu disini" url="#" noArrow={false} />
    </div>
    <!--Displaying products in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-4 md:gap-6 xl:gap-8">
      {
        product.map((product, index) => {
          return <CardSmall product={product} />;
        })
      }
    </section>
  </div>
</MainLayout>
